@page
@model Vlammend_Varken.Pages.Customer.IndexModel
@{
    Layout = "_layoutCustomer";
    // Layout = "_LayoutNavbar";
    ViewData["Title"] = "Customer";
}

<h2>Welcome to Vlammend Varken page customer</h2>
