@page
@model Vlammend_Varken.Pages.Customer.IndexModel
@{
    Layout = "_layoutCustomer";
    // Layout = "_LayoutNavbar";
    ViewData["Title"] = "Categories";
}
<h2>Categorieën</h2>
<h3>Kies hier uw menu</h3>

<div class="row">
    <div class="col-auto">
        <div class="card" style="width: 18rem;">
            <img src="@Url.Content("~/Images/Dagmenu.jpg")" class="card-img-top" alt="Categorieafbeelding">
            <div class="card-body">
                <h5 class="card-title">Dagmenu</h5>
                <p class="card-text">Het dagmenu bestaat uit dagverse duurzame gerechten samengesteld door onze Chef.</p>
                <a asp-page="/Customer/DayMenu" class="btn btn-primary">Dagmenu</a>

            </div>
        </div>
    </div>

    <div class="col-auto">
        <div class="card" style="width: 18rem;">
            <img src="@Url.Content("~/Images/Menu.jpg")" class="card-img-top" alt="Categorieafbeelding">
            <div class="card-body">
                <h5 class="card-title">Menu</h5>
                <p class="card-text">Ons menu.</p>
                <a href="#" class="btn btn-primary">Menu</a>
            </div>
        </div>
    </div>
</div>
