<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vlammend_Varken_Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminStyle.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-97">
    <partial name="_LayoutNavbarAdmin" />
    
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <partial name="_LayoutSidebarAdmin" /> 

            <main class="col-md-9 ms-sm-auto px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>


    <footer class="border-top footer text-muted mt-auto">
        <div class="container d-flex justify-content-center">
            &copy; 2025 - Vlammend_Varken - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>